:root{
  color-scheme: light dark;
}

/* Discord Font */
@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Book.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Semibold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Bold.woff') format('woff');
  font-weight: 700;
}

* {
  font-family: 'Whitney';
}

/* 모든요소 감싸는 div, 전체화면 */
div#mainApp {
  width: 100vw; height: 100vh;
  display: flex;
}

/* 사이드바 */
div#sideBar {
  width:250px;
}
div.channelWrapper {
  margin: 0px 8px;
}

/* 메인화면 */
div#mainPage{
  flex:1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 디스코드창 */
div#contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: light-dark(white, #37393D);
}

/* 디스코드 채팅기록 */
div#discordWindow {
  flex: 1;
  overflow-y: auto;
}

/* 환영메시지 */
div#discordWelcome {
  background-color: light-dark(white, #37393D);
  padding: 32px 32px 16px 32px;
  user-select: none;
}
div#discordWelcome > p{
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin:0;
}
div#discordWelcome > div{
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}

/* 하단바 */
#bottomBarContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 8px 8px;
}

#bottomBar{
  flex-grow: 1;
  padding: 8px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: light-dark( white, #484850 );
  border: 1px solid light-dark(#DDDDDD, #505050);
  border-radius: 10px;
}

#message{
  position: relative;
  flex: 1 1 0;
  width: 100%;
  max-height: 145px;
  field-sizing: content;
  background-color: light-dark(white, #484850);
  border: none; outline: none;
  font-size: 16px;
  resize: none;
}

button#messageSubmit {
  width: 43px; height: 43px;
  border-radius: 43px;
  border: 1px solid light-dark(#DDDDDD, #505050);
  display: flex;
  align-items: center; justify-content: center;
  padding-left: 9px;
  background-color: light-dark(lightgrey, #484850);
}

/* 입력중 표시 */
div#typingIndicator {
  font-size: 13px;
  padding-left: 14.4px;
  display: flex;
  align-items: center;
}
div#typingDotContainer {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.typingDotWrapper{
  width:9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.typingDot {
  background-color: white;
  border-radius: 4px;
}

/* github 링크 색깔적용 x */
a {
  color:inherit;
}