* {
   font-family: sans-serif; 
}

/* github 링크 색깔적용 x */
a {
    color:inherit;
}

/* 하단바 */
#bottomBar{
    background-color: #DDDDDD;
    z-index: 512;
    position: fixed;
    left:10%; right:10%; bottom:10px;
    height:80px; width:auto;
    border-radius: 10px;
}

#message{
    position: absolute;
    left:10px; top:10px; bottom:10px;
    width: 90%; height:auto;
    resize: none;
}

#message_submit{
    position:absolute;
    right:10px; bottom: 10px; top:10px;
    height: auto;
}

/* 채팅창 */
#chatContainer{
    margin-top: 5px; margin-bottom: 100px;
    overflow: hidden;
    height: auto
}

.chatBubbleUser{
    float: right;
    width: 60%; height:auto;
    margin-bottom: 10px;
}
.chatBubbleUser>div{
    float: right;
    background-color: lightgray;
    border-radius: 20px;
    padding: 12px;
}
.chatBubbleUser p{
    margin: 0;
    width:fit-content;
}

.chatBubbleModel{
    float: left;
    width: 80%;
    margin-bottom: 10px;
}
.chatBubbleModel>div{
    display: inline-block;
    background-color: lightgray;
    border-radius: 20px;
    padding: 12px;
}
.chatBubbleModel p{
    margin-top: 0;
    width:fit-content;
}

/* 다크모드에서 말풍선 색 변경 */
@media (prefers-color-scheme: dark){

    .chatBubbleModel>div{
        background-color: darkslategray !important;
    }
    .chatBubbleUser>div{
        background-color: darkslategray !important;        
    }
}