:root{
  color-scheme: light dark;
}

/* Discord Font */
@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Book.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Semibold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney';
  src: url('https://cdn.skyra.pw/whitney-font/v2/Bold.woff') format('woff');
  font-weight: 700;
}

* {
  font-family: 'Whitney';
}

/* 모든요소 감싸는 div, 전체화면 */
div#mainWrapper{
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* 디스코드창 */
div#contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

/* 디스코드 채팅기록 */
div#discordWindow {
  flex: 1;
  overflow-y: auto;
  color-scheme: var(--color-scheme);
}

/* 하단바 */
#bottomBar{
  background-color: light-dark( white, darkslategrey );
  position: relative;
  margin: 0 8px 8px;
  padding: 8px;
  height:80px;
  border: 1px solid #505050;
  border-radius: 10px;
}

#message{
  position: relative;
  width: 100%; height: 100%;
  color-scheme: var(--color-scheme);
  font-size: 16px;
  resize: none;
}

/* 입력중 표시 */
div#typingIndicator {
  font-size: 13px;
  padding-left: 14.4px;
  display: flex;
  align-items: center;
}
div#typingDotContainer {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.typingDotWrapper{
  width:9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.typingDot {
  background-color: white;
  border-radius: 4px;
}

/* github 링크 색깔적용 x */
a {
  color:inherit;
}